.header {
  /*background-color: #282c34;*/
  background-color: white;
  box-shadow: 0 0.25rem 0.75rem 0 rgb(104 116 136 / 13%);
}

.headerContent {
  display: flex;
  align-items: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 1.75rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: rotation infinite 20s linear;
  }
}

.titleContainer {
  display: flex;
  flex: 1;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  line-height: 1.75rem;
  margin-left: 1rem;
}

.menuList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  padding: 1rem;
  color: inherit;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
}

.link:hover {
  background-color: #f2f5f7;
}

.link:active {
  color: var(--primary);
}

.linkButton {
  composes: link;
  background: none;
  border: none;
  font-family: inherit;
}
